body {
    background-color: #ffffff;
    opacity: 1;
    background-image:  linear-gradient(30deg, #eeeeee 12%, transparent 12.5%, transparent 87%, #eeeeee 87.5%, #eeeeee), linear-gradient(150deg, #eeeeee 12%, transparent 12.5%, transparent 87%, #eeeeee 87.5%, #eeeeee), linear-gradient(30deg, #eeeeee 12%, transparent 12.5%, transparent 87%, #eeeeee 87.5%, #eeeeee), linear-gradient(150deg, #eeeeee 12%, transparent 12.5%, transparent 87%, #eeeeee 87.5%, #eeeeee), linear-gradient(60deg, #eeeeee77 25%, transparent 25.5%, transparent 75%, #eeeeee77 75%, #eeeeee77), linear-gradient(60deg, #eeeeee77 25%, transparent 25.5%, transparent 75%, #eeeeee77 75%, #eeeeee77);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}